# Data Preprocessing

## get_shifted_price

In [1]:
%load_ext autoreload
%autoreload 2

In [15]:
from electricity_price_predictor.data_2 import get_price
df = get_price()
df.head()

                     price
time
2015-01-01 00:00:00  25.02
2015-01-01 01:00:00  18.29
2015-01-01 02:00:00  16.04
2015-01-01 03:00:00  14.60
2015-01-01 04:00:00  14.95

In [16]:
df.shape

(51726, 1)

In [4]:
df[df.price.isnull()]

                     price
time
2015-03-29 02:00:00    NaN
2016-03-27 02:00:00    NaN
2017-03-26 02:00:00    NaN
2018-03-25 02:00:00    NaN
2019-03-31 02:00:00    NaN
2020-03-29 02:00:00    NaN

In [4]:
df.reset_index()['time'].value_counts().head(8)

2019-10-27 02:00:00    2
2020-10-25 02:00:00    2
2016-10-30 02:00:00    2
2017-10-29 02:00:00    2
2015-10-25 02:00:00    2
2018-10-28 02:00:00    2
2017-05-31 04:00:00    1
2020-05-02 05:00:00    1
Name: time, dtype: int64

**They are likely caused by daylight saving time**

In [5]:
df.loc['2015-10-25 02:00:00']

                     price
time
2015-10-25 02:00:00  20.82
2015-10-25 02:00:00  20.77

In [17]:
df_1 = df.loc['2015-01-01 00:00:00':'2015-03-29 01:00:00']
df_2 = df.loc['2015-03-29 02:00:00':'2015-10-25 02:00:00']
df_3 = df.loc['2015-10-25 03:00:00':'2016-03-27 01:00:00']
df_4 = df.loc['2016-03-27 02:00:00':'2016-10-30 02:00:00']
df_5 = df.loc['2016-10-30 03:00:00':'2017-03-26 01:00:00']
df_6 = df.loc['2017-03-26 02:00:00':'2017-10-29 02:00:00']
df_7 = df.loc['2017-10-29 03:00:00':'2018-03-25 01:00:00']
df_8 = df.loc['2018-03-25 02:00:00':'2018-10-28 02:00:00']
df_9 = df.loc['2018-10-28 03:00:00':'2019-03-31 01:00:00']
df_10 = df.loc['2019-03-31 02:00:00':'2019-10-27 02:00:00']
df_11 = df.loc['2019-10-27 03:00:00':'2020-03-29 01:00:00']
df_12 = df.loc['2020-03-29 02:00:00':'2020-10-25 02:00:00']
df_13 = df.loc['2020-10-25 03:00:00':'2020-11-24 23:00:00']

In [21]:
df_8.shift(periods=-1)

                     price
time
2018-03-25 02:00:00  37.85
2018-03-25 03:00:00  37.28
2018-03-25 04:00:00  37.51
2018-03-25 05:00:00  37.99
2018-03-25 06:00:00  38.67
...                    ...
2018-10-27 23:00:00  44.53
2018-10-28 00:00:00  43.58
2018-10-28 01:00:00  41.62
2018-10-28 02:00:00  41.59
2018-10-28 02:00:00    NaN

[5210 rows x 1 columns]

In [20]:
import pandas as pd
df_shift = [df_2, df_4, df_6, df_8, df_10, df_12]
no_shift = [df_1, df_3, df_5, df_7, df_9, df_11, df_13]
price_df = df_1
for data in no_shift[1:]:
    price_df = pd.concat([price_df, data])
for data in df_shift:
    data = data.shift(periods=-1).dropna()
    price_df = pd.concat([price_df, data])

In [8]:
price_df.loc['2015-10-25 02:00:00']

price    20.77
Name: 2015-10-25 02:00:00, dtype: float64

In [9]:
price_df.isnull().sum()

price    0
dtype: int64

In [10]:
price_df.reset_index()['time'].value_counts().head()

2017-05-31 04:00:00    1
2019-07-21 08:00:00    1
2015-09-20 07:00:00    1
2020-08-05 12:00:00    1
2018-04-24 12:00:00    1
Name: time, dtype: int64

In [21]:
price_df.shape

(51720, 1)

In [1]:
from electricity_price_predictor.data_2 import get_shifted_price

In [2]:
df = get_shifted_price()

In [4]:
df.shape

(51720, 1)

## get_all

In [3]:
from electricity_price_predictor.data import get_shifted_load, get_weather, get_shifted_price
from electricity_price_predictor.data import get_holidays, get_coal_price, get_wind_prod

In [4]:
df_load = get_shifted_load()
df_load_11 = df_load[df_load.index.hour==11]
df_load_11.head()

                       load
time
2015-01-01 11:00:00  2194.0
2015-01-02 11:00:00  2673.0
2015-01-03 11:00:00  2405.0
2015-01-04 11:00:00  2383.0
2015-01-05 11:00:00  3099.0

In [5]:
df_price = get_shifted_price()
df_price_11 = df_price[df_price.index.hour==11]
df_price_11.head()

                     price
time
2015-01-01 11:00:00  16.08
2015-01-02 11:00:00  15.08
2015-01-03 11:00:00  22.31
2015-01-04 11:00:00  27.32
2015-01-05 11:00:00  40.97

In [6]:
df_weather = get_weather()
df_weather_11 = df_weather[df_weather.index.hour==11]
df_weather_11.head()

                         temp  feels_like   humidity  clouds_all  wind_speed
dt
2015-01-01 11:00:00  6.732469   -0.346708  93.413145   91.036933    8.724397
2015-01-02 11:00:00  6.849566   -2.364317  80.994869   52.392560   11.233930
2015-01-03 11:00:00  4.332541   -1.562728  88.760764   38.333790    6.187115
2015-01-04 11:00:00  3.296271   -2.594814  79.233305   11.509847    5.591671
2015-01-05 11:00:00  4.498201    1.665528  93.718424   88.775936    2.044551

In [27]:
df_holidays = get_holidays().drop(columns=['holiday_name'])
df_holidays.head()

            holiday
2015-01-01        1
2015-01-02        0
2015-01-03        0
2015-01-04        0
2015-01-05        0

In [9]:
df_wind = get_wind_prod()
df_wind_11 = df_wind[df_wind.index.hour==11]
df_wind_11.head()

                      total_prod    wind_prod  wind_share
time
2015-01-01 11:00:00  3909.281833  3183.801317    0.814421
2015-01-02 11:00:00  4247.975683  3405.313993    0.801632
2015-01-03 11:00:00  3391.054053  2380.964290    0.702131
2015-01-04 11:00:00  3606.491107  2268.581247    0.629027
2015-01-05 11:00:00  2175.075494   234.576723    0.107848

In [10]:
'''df_coal = get_coal_price()
df_coal_11 = df_coal[df_coal.index.hour==11]
df_coal_11.head()'''

'df_coal = get_coal_price()\ndf_coal_11 = df_coal[df_coal.index.hour==11]\ndf_coal_11.head()'

In [28]:
# change the index of df_holidays so that i can join it with others
df_holidays['time']='11:00'
df_holidays.time = pd.to_timedelta(df_holidays.time + ':00')
df_holidays.index = df_holidays.index + df_holidays.time
df_holidays_11 = df_holidays.drop('time', axis=1)
df_holidays_11.head()

                     holiday
2015-01-01 11:00:00        1
2015-01-02 11:00:00        0
2015-01-03 11:00:00        0
2015-01-04 11:00:00        0
2015-01-05 11:00:00        0

In [36]:
# checkout the dates of all the dfs
dfs = dict(load=df_load_11, weather=df_weather_11, wind=df_wind_11, holidays=df_holidays_11)
dfs['load'].index.max(), dfs['weather'].index.max(), dfs['wind'].index.max(), dfs['holidays'].index.max()

(Timestamp('2020-11-23 11:00:00'),
 Timestamp('2020-11-24 11:00:00'),
 Timestamp('2020-11-18 11:00:00'),
 Timestamp('2020-11-23 11:00:00'))

In [42]:
# merge all features 
df_all = df_price_11
for df in dfs.values():
    df_all = df_all.join(df, how='outer')
df_all.head()

,price,load,temp,feels_like,humidity,clouds_all,wind_speed,total_prod,wind_prod,wind_share,holiday
2015-01-01 11:00:00,16.08,2194.0,6.732469,-0.346708,93.413145,91.036933,8.724397,3909.281833,3183.801317,0.814421,1.0
2015-01-02 11:00:00,15.08,2673.0,6.849566,-2.364317,80.994869,52.392560,11.233930,4247.975683,3405.313993,0.801632,0.0
2015-01-03 11:00:00,22.31,2405.0,4.332541,-1.562728,88.760764,38.333790,6.187115,3391.054053,2380.964290,0.702131,0.0
2015-01-04 11:00:00,27.32,2383.0,3.296271,-2.594814,79.233305,11.509847,5.591671,3606.491107,2268.581247,0.629027,0.0
2015-01-05 11:00:00,40.97,3099.0,4.498201,1.665528,93.718424,88.775936,2.044551,2175.075494,234.576723,0.107848,0.0

In [44]:
df_all.tail(6)

,price,load,temp,feels_like,humidity,clouds_all,wind_speed,total_prod,wind_prod,wind_share,holiday
2020-11-19 11:00:00,1.42,3096.0,7.141363,1.014544,84.060269,67.603834,7.053969,NaN,NaN,NaN,0.0
2020-11-20 11:00:00,47.91,3111.0,4.535774,0.488244,78.095125,3.494573,3.174649,NaN,NaN,NaN,0.0
2020-11-21 11:00:00,1.05,2669.0,9.070523,3.714197,94.182973,91.303568,7.056021,NaN,NaN,NaN,0.0
2020-11-22 11:00:00,1.16,2417.0,8.228828,1.824805,74.997025,18.003835,7.283847,NaN,NaN,NaN,0.0
2020-11-23 11:00:00,4.95,3167.0,7.591355,1.841106,80.983497,18.861248,6.475636,NaN,NaN,NaN,0.0
2020-11-24 11:00:00,NaN,NaN,9.836759,5.031297,93.302050,90.986737,6.487594,NaN,NaN,NaN,NaN

In [46]:
# wind production data is only available till 2020-11-18, so cut the date
df_all = df_all[df_all.index < '2020-11-19 00:00:00']
df_all.isnull().sum()

price         0
load          0
temp          0
feels_like    0
humidity      0
clouds_all    0
wind_speed    0
total_prod    0
wind_prod     0
wind_share    0
holiday       0
dtype: int64

In [48]:
from electricity_price_predictor.data import get_all
get_all().head()

,price,load,temp,feels_like,humidity,clouds_all,wind_speed,total_prod,wind_prod,wind_share,holiday
2015-01-01 11:00:00,16.08,2194.0,6.732469,-0.346708,93.413145,91.036933,8.724397,3909.281833,3183.801317,0.814421,1.0
2015-01-02 11:00:00,15.08,2673.0,6.849566,-2.364317,80.994869,52.392560,11.233930,4247.975683,3405.313993,0.801632,0.0
2015-01-03 11:00:00,22.31,2405.0,4.332541,-1.562728,88.760764,38.333790,6.187115,3391.054053,2380.964290,0.702131,0.0
2015-01-04 11:00:00,27.32,2383.0,3.296271,-2.594814,79.233305,11.509847,5.591671,3606.491107,2268.581247,0.629027,0.0
2015-01-05 11:00:00,40.97,3099.0,4.498201,1.665528,93.718424,88.775936,2.044551,2175.075494,234.576723,0.107848,0.0

## update weather df to 11.30.2020